*{
	font-family: 'Roboto Mono', monospace;

}
.lista{margin:0 auto;
}

.rojo{color:red;}
.borrar{margin-left: 20px;}
.tachado{ text-decoration: line-through; }
.destachado{
	text-decoration: none;
}
body{
	background: url("escalada22.jpg");
}
.contenedor{
	text-align: center;
}
h1{
	margin-bottom: 150px;
}

#lista{
	border:5px solid black;
	border-radius: 5%;
	background-color: inherit;
}
#btn_agregar{
	border:5px solid black;
	border-radius: 5%;
	background-color: inherit;
}
#check {
font-weight: bold;
	}